mixin review_admin( review = {} )
  - review.author = review.author || {}
  form(action="", onsubmit="return false")
    .review
      .review__header
        .review__author
          div.avatar!= h.icon('user')
          p= review.author.name
        .review__stars(title=`Rated ${review.rating} our of 5 stars`)
          = `★`.repeat(review.rating)
          = `☆`.repeat(5 - review.rating)
        time.review__time(datetime=review.created)= h.moment(review.created).fromNow()
      .review__body
        textarea(name="text", required)= review.text